<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>angular-index</title>
    <style>
        .done-true{
            text-decoration: line-through;
            color: grey;
        }
    </style>
    <script src='./js/angular.js'></script>
</head>
<body>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        [<a href="" ng-click="todoList.archive()">archive</a>]
        <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                <input type="checkbox" ng-model="todos.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="totoList.todoText" size="30" placeholder="add new todo hrere">
        <input class="btn-primary" type="submit" value="add">
        </form>
    </div>

</body>
</html>